label {
    font-weight: bold;
    text-align: right;
    margin: 5px;
}

input {
    width: 2.5em;
    margin: 5px;
}

input.team {
    width: 9em;
}

select{
    padding:5px;
    margin:10px;
}

form {
    padding: 10px;
    background-color: rgb(235, 230, 230);
}

form div {
    border: 2px solid black;
    margin: 5px;
    background-color: rgb(250, 248, 248);
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: rebeccapurple;
}

fieldset {
    background-color: rgb(219, 214, 214);
}

div {
    background-color: rgb(209, 202, 202);
}

#ok {
    width: 3.5em;
    height: 3.5em;
    margin: 5px;
    border:1px solid black;
    border-radius: 100%;
    font-weight: bold;
    background-color: rebeccapurple;
    box-shadow: 2px 1px 2px 2px rgb(17, 0, 34);
    outline: none;
}

#ok:hover {
    font-size: 1em;
    background-color: rgb(57, 8, 105);
    color: white;
    animation: okbutton 0.6s ease-in-out;
}

@keyframes okbutton{
    0%{
        transform:translate(0px,0px);
    }

    25%{
        transform:translate(1px,1px);
    }

    50%{
        transform:translate(2px,2px);
    }

    75%{
        transform:translate(1px,1px);
    }

    100%{
        transform:translate(0px,0px);
    }
}