body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;
}

button{
    cursor: pointer;
}

nav a,nav button{
    padding: 0.4vh 0.73vw;
    font-size: 1.218vw;
    cursor: pointer;
    margin:0px  0.366vw;
    text-decoration: none;
    background-color: rgb(24, 23, 23);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.464vw;
    font-size: 1.757vw;
    padding-top: 0px;
}

.wrapper>h1{
    margin: 0px;
    font-size: 3.51vw;
    padding-bottom: 1.464vw;
    color:rgb(24, 23, 23);
}

.cover2 p{
    font-size: 1.757vw;
    margin:0px;
    line-height: 3.66vw;
    color:rgb(68, 60, 60)
}

.homeCover{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(36.6vw, 1fr));
    gap:2.196vw;
    grid-template-rows: auto;
}

.cover1 img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.accessButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
}

.accessButtons a{
    text-decoration: none;
    margin-bottom: 2.196vw;
}

.accessButtons a button{
    padding: 0.742vw;
    font-weight: bold;
    width: 29.28vw;
    font-size: 0.976vw;
    background-color: rgb(114, 230, 38);
    outline: none;
    border: none;
    cursor: pointer;
}

.accessButtons a button:hover{
    color: rgb(75, 187, 0);
    background-color: white;
    border:1px solid rgb(102, 255, 0);

}

@media only screen and (orientation:portrait){
    .homeCover{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav a{
        padding: 1vh 2vw;
        font-size: 3vw;
        margin:0px  1vw;
    }

    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3vw;
        font-size: 3.5vw;
    }
    
    .wrapper>h1{
        margin: 0px;
        font-size: 6vw;
        padding-bottom: 3vw;
    }
    
    .cover2 p{
        font-size: 3.5vw;
        margin:0px;
        line-height: 7vw;
    }

    .accessButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 6vw;
    }
    
    .accessButtons a{
        text-decoration: none;
        margin-bottom: 2.5vw;
    }
    
    .accessButtons a button{
        padding: 1.5vw;
        font-weight: bold;
        width: 60vw;
        font-size: 2vw;
        background-color: rgb(114, 230, 38);
        outline: none;
        border: none;
        cursor: pointer;
    }


}   

    button.oddsBtn{
        padding: 0.732vw;
        color: white;
        background-color:rgb(24, 23, 23);
        outline: none;
        border: none;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 0.976vw;
    }

    button.oddsBtn:hover{
        padding: 0.732vw;
        color: rgb(24, 23, 23);
        background-color:white;
        outline: none;
        border: none;
        font-weight: bold;
        border:1px solid rgb(24, 23, 23)
    }  
    
    .regWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
    }

    .regWrapper>h1{
        font-size:  1.757vw;
        margin:0px;
    }

    .regWrapper>p{
        font-size:  1.171vw;
    }

    .regWrapper>input{
        padding: 0.732vw;
        font-size: 1.171vw;
        color: rgb(26, 189, 4);
        background-color: white;
        font-weight: bold;
        border: 1px solid rgb(26, 189, 4);
        outline: none;
    }

    .regWrapper>input:hover{
        padding: 0.732vw;
        font-size: 1.171vw;
        color: rgb(14, 124, 0);
        border: 1px solid rgb(14, 124, 0);
        cursor: pointer;
    }

    @media only screen and (orientation:portrait){
        
    .ctrBtns{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    } 

    button.oddsBtn{
        padding: 0.732vh;
        color: white;
        background-color:rgb(24, 23, 23);
        outline: none;
        border: none;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 0.976vh;
    }
    .wrapper>h1 {
        font-size: 3.5vh;
    }
    nav a, nav button {
        font-size: 1.218vh;
    }

    .regWrapper>h1{
        font-size:  1.757vh;
    }

    .regWrapper>p{
        font-size:  1.171vh;
    }

    .regWrapper>input{
        padding: 0.732vh;
        font-size: 1.171vh;
    }

    .regWrapper>input:hover{
        padding: 0.732vh;
        font-size: 1.171vh;
    }

    }

