<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../src/admin.css">
    <script type="text/javascript" src="../src/admin.js"></script>
    <title>Admin Section</title>
</head>

<body>
        <div>
            <Fieldset>
                <Legend>
                    Add Match
                </Legend>
                <Form>
                    <div id="grp1">
                        <label for="home">Home Team</label>
                        <span id = "homeSpan"></span>
                            
                        <label for="away">Away Team</label>
                        <span id = "awaySpan"></span>
                                
                        <label for="country">Country</label>
                        <select name="country" id="country">
                            <option value="England" selected>England</option>
                            <option value="Spain">Spain</option>
                            <option value="Germany">Germany</option>
                            <option value="Italy">Italy</option>
                        </select>
                        <span id="sp">
                         <label for="league">League</label>
                         <select name="leagues" id="leagues">
                             <option value="EPL">EPL</option>
                             <option value="Championship">Championship</option>
                             <option value="League 1">League 1</option>
                             <option value="League 2">League 2</option>
                         </select>

                        </span>
                    </div>
                    <div id="grp2">
                        <label for="1">1</label><input type="text" name="1" class="odds">
                        <label for="X">X</label><input type="text" name="X" class="odds">
                        <label for="2">2</label><input type="text" name="2" class="odds">
                        <label for="1X">1X</label><input type="text" name="1X" class="odds">
                        <label for="12">12</label><input type="text" name="12" class="odds">
                        <label for="X2">X2</label><input type="text" name="X2" class="odds">
                    </div>
                    <div id="grp3">
                        <label for="Over 2.5">Over 2.5</label><input type="text" name="Over 2.5" class="odds">
                        <label for="Under 2.5">Under 2.5</label><input type="text" name="Under 2.5" class="odds">
                        <label for="Over 1.5">Over 1.5</label><input type="text" name="Over 1.5" class="odds">
                        <label for="Under 1.5">Under 1.5</label><input type="text" name="Under 1.5" class="odds">
                    </div>
                    <div id="grp4">
                        <label for="Over 3.5">Over 3.5</label><input type="text" name="Over 3.5" class="odds">
                        <label for="Under 3.5">Under 3.5</label><input type="text" name="Under 3.5" class="odds">
                        <label for="Over 4.5">Over 4.5</label><input type="text" name="Over 4.5" class="odds">
                        <label for="Under 4.5">Under 4.5</label><input type="text" name="Under 4.5" class="odds">
                    </div>
                    <div id="grp5">
                        <label for="Red Card Yes">Red Card Yes</label><input type="text" name="Red Card Yes" class="odds">
                        <label for="Red Card No">Red Card No</label><input type="text" name="Red Card No" class="odds">
                        <label for="Penalty Yes">Penalty Yes</label><input type="text" name="Penalty Yes" class="odds">
                        <label for="Penalty No">Penalty No</label><input type="text" name="Penalty No" class="odds">
                    </div>
                    <div id="grp6">
                        <label for="Corner Over 8.5">Corner Over 8.5</label><input type="text" name="Corner Over 8.5" class="odds">
                        <label for="Corner Under 8.5">Corner Under 8.5</label><input type="text" name="Corner Under 8.5" class="odds">
                        <label for="Corner Over 11.5">Corner Over 11.5</label><input type="text" name="Corner Over 11.5" class="odds">
                        <label for="Corner Under 11.5">Corner Under 11.5</label><input type="text" name="Corner Under 11.5" class="odds">
                    </div>
                    <div id="grp7">
                        <label for="GG">GG</label><input type="text" name="GG" class="odds">
                        <label for="NG">NG</label><input type="text" name="NG" class="odds">
                    </div>
                    <input id="ok" type="button" value="OK">
                </Form>
            </Fieldset>
        </div>
</body>

</html>