body{
    max-width: 97vw;
}

#heading{
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    margin-left: 15px;
    background-color: black;
    color:rgb(45, 83, 196);
    margin-bottom: 5px;
}

#heading span{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}
#myGrid {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-rows: auto auto 2fr;
   
}

#England,
#Spain,
#Germany,
#Italy {
    width: 15em;
    height: 1.2em;
    border: 1px solid black;
    background-color: royalblue;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 26px;
    padding-bottom: 24px;
    box-sizing: border-box;
    user-select: none;
}

#England div,
#Spain div,
#Germany div,
#Italy div {
    width: 7em;
    height: 1.2em;
    border: inherit;
    display: none;
    user-select: none;
}

#display{
    box-sizing: border-box;
}

div {
    user-select: none;
}

.league_label{
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px 0px;
    color: rgb(69, 0, 180);
    font-weight: bolder;
}

.display_league{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'div div div div';
    justify-items: space-evenly;
    
    height: 205px;
    grid-gap: 1px;
    width: 84.5%;
    margin: 0px 30px;
}

.style_divs {
    border: 1px solid black;
    background-color: royalblue;
    color: white;
    border-radius: 2px;
    text-align: center;
    padding-top: 11px;
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    height: 50px;
    width: 188px;
    box-sizing: border-box;
}

.vals {
    border: 1px solid black;
    background-color: rgb(3, 38, 143);
    color: white;
    border-radius: 2px;
    text-align: center;
    padding: 7px 2px 0px;
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 0px 5px 5px;
    height: 35px;
    width: 40px;
    box-sizing: border-box;
}

.matchSpan {
    border: 1px solid black;
    background-color: rgb(12, 56, 189);
    color: white;
    border-radius: 2px;
    text-align: left;
    padding:7px 2px 0px;
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    height: 35px;
    width: 92%;
    box-sizing: border-box;
    margin-top: 5px;
    
}

.subDiv {
    
    display: grid;
    justify-content: space-between;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '.matchSpan .vals .vals .vals .vals .vals .vals';
    width: 95%;
    box-sizing: border-box;
    margin: 5px 30px;
}

.subDivMini {
    
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '.matchSpan '' '' '' '' .vals .vals';
    width: 99.5%;
    box-sizing: border-box;
    margin: 5px 30px;
}

.match {
    background-color: cornflowerblue;
    color: black;
    border-radius: 2px;
    text-align: left;
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    height: 35px;
    width: 92%;
    padding:7px 2px 0px;
    box-sizing: border-box;
    margin-top: 5px;
    
}

.options {
    background-color: cornflowerblue;
    color: black;
    border-radius: 2px;
    text-align: center;
    padding-top: 7px;
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 0px 5px 5px;
    height: 35px;
    width: 40px;
    box-sizing: border-box;
}

#calculate {
    box-sizing: border-box;
    
}

#chooser {
    margin-left: 15px;
}