.regWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.regWrapper>h1{
    font-size:  1.757vw;
    margin:0px;
}

.regWrapper>p{
    font-size:  1.171vw;
}

.regWrapper>input{
    padding: 0.732vw;
    font-size: 1.171vw;
    color: rgb(26, 189, 4);
    background-color: white;
    font-weight: bold;
    border: 1px solid rgb(26, 189, 4);
    outline: none;
}

.regWrapper>input:hover{
    padding: 0.732vw;
    font-size: 1.171vw;
    color: rgb(14, 124, 0);
    border: 1px solid rgb(14, 124, 0);
    cursor: pointer;
}